# Site Configuration
VITE_SITE_URL=https://www.ambicaindustry.com
VITE_SITE_NAME="Ambica Industry"
VITE_CONTACT_EMAIL=info@ambicaindustry.com
VITE_CONTACT_PHONE="+91 98240 12345"
VITE_WHATSAPP_NUMBER="919824012345"
